<div class="row">
  <div class="col-md-12">
    <style>
      h2 { text-align: center; }
    </style>
    <h2>
      <a href="/" class="404Link">Page Not Found. Go back to Home.</a>
    </h2>
  </div>
</div>